{% extends "base.html" %}
{% block title %}Carbon Calculator{% endblock %}

{% from "includes/_formHelper.html" import render_field %}

{% block content %}


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#utility">Utility</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#food">Food</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#spending">Spending</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#transport">Transport</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#travel">Travels</a>
    </li>
</ul>

<div class="tab-content">

    <form method="POST">

        <div class="tab-pane container" id="utility">

            <div class="form-group">
                {{ render_field(form.num_household, class="form-control") }}
            </div>

            <div class="form-group">
                {{ render_field(form.electricity, class="form-control") }}
            </div>

            <div class="form-group">
                {{ render_field(form.gas, class="form-control") }}
            </div>

            <div class="form-group">
                {{ render_field(form.water, class="form-control") }}
            </div>

        </div>
        <div class="tab-pane container" id="food">

           <div class="form-group">
                {{ render_field(form.food, class="form-control") }}
            </div>

        </div>
        <div class="tab-pane container" id="spending">
             <div class="form-group">
                {{ render_field(form.cloth_footwear, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.recreate_act, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.furn_house_equipment_maintenance, class="form-control") }}
            </div>
             <div class="form-group">
                {{ render_field(form.com_service, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.ed_service, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.others, class="form-control") }}
            </div>
        </div>
        <div class="tab-pane container" id="transport">
            <div class="form-group">
                {{ render_field(form.mrt_lrt, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.bus, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.ride_services, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.motorcycle, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.drive_ride_passenger, class="form-control") }}
            </div>
        </div>
        <div class="tab-pane container" id="travel">
             <div class="form-group">
                {{ render_field(form.sea, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.ap, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.ea, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.oc, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.am, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.travel_class, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.night_staycation, class="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.submit, class="form-control") }}
            </div>
        </div>


    </form>

</div>

{% endblock %}