{% extends "base.html" %}

{% block title %}Green App{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="pb-4 d-flex flex-column">

    <h1 class="display-4 align-self-center">What is my Carbon Footprint?</h1>
    <p class="align-self-center">Use this calculator to find out what is your carbon footprint!</p>

</div>


<div class="d-flex flex-column">

    <h2 class="align-self-center"> Utility Consumption </h2>
<p class="align-self-center"> Electricity, water, and gas usage generate carbon emissions. </p>

</div>

<!-- Tab panes -->
<div>
    <div class="container" id="home">

        <form method="POST" action="carbon_cal_food.html">
          <div class="form-group">
            {{ render_field(form.electricity, class="form-control") }}
          </div>
            <div class="form-group">
            {{ render_field(form.gas, class="form-control") }}
          </div>
            <div class="form-group">
            {{ render_field(form.water, class="form-control") }}
          </div>
            <div class="form-group">
            {{ render_field(form.num_household, class="form-control") }}
          </div>
            <a class="btn btn-primary" href="carbon_cal.html" role="button">Previous</a>
            <input type="submit" class="btn btn-primary" name="submit_button" value="Next">
        </form>

    </div>
</div>

{% endblock %}