{% extends "base.html" %}

{% block title %}Green App{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4">Carbon Calculator</h1>
  <p>Use this calculator to find out what is your carbon footprint!</p>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#food">Food</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu2">Menu 2</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container active" id="home">

        <form method="POST" action="">
          <div class="form-group">
            {{ render_field(form.electricity, class="form-control") }}
          </div>
            <div class="form-group">
            {{ render_field(form.gas, class="form-control") }}
          </div>
            <div class="form-group">
            {{ render_field(form.water, class="form-control") }}
          </div>
            <div class="form-group">
            {{ render_field(form.num_household, class="form-control") }}
          </div>
            <input type="submit" value="Next" class="btn btn-primary"/>
        </form>

    </div>
    <div class="tab-pane container fade" id="food">

        <form method="POST" action="">
          <div class="form-group">
            {{ render_field(form.food, class="form-control") }}
          </div>
            <input type="submit" value="Next" class="btn btn-primary"/>
        </form>

    </div>
    <div class="tab-pane container fade" id="menu2">...</div>
</div>

{% endblock %}