{% extends "base.html" %}

{% block title %}Green App{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<div class="d-flex flex-column">

    <h2 class="align-self-center"> Food </h2>
<p class="align-self-center"> Food production requires fuel that emits carbon dioxide into the environment.</p>

</div>

<div>

    <div class="container" id="food">

        <form method="POST" action="">
          <div class="form-group ">
            {{ render_field(form.food, class="form-control") }}
          </div>
            <a class="btn btn-primary" href="carbon_cal.html" role="button">Previous</a>
            <a class="btn btn-primary" href="carbon_cal_spendings.html" role="button">Next</a>
        </form>

    </div>

</div>

{% endblock %}