{% extends "admin_base.html" %}

{% block navbar %}
    {% include 'includes/sadmin_navbar.html' %}
{% endblock %}

    {% block content %}
        <h2>Admin Database Page</h2>
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.password }}</td>
                        <td>
                            <button>Update</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}
