{% extends "base.html" %}
{% block title %}Energy Saving Products!{% endblock %}
{% block content %}
  <h1>{{ product.name }}</h1>
  <div class="d-flex">
    <div class="flex-shrink-0 me-4">
      <img src="{{ url_for('static', filename='uploads/' ~ product.image) }}" alt="{{ product.name }}" class="img-fluid">
    </div>
    <div>
      <p>{{ product.description }}</p>
      <p>Stock: {{ product.stock }}</p>
      <p>Price: ${{ product.price }}</p>
      <form method="post">
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="{{ product.stock }}" required>
        </div>
        <button type="submit" class="btn btn-success">Purchase</button>
      </form>
      {% if error %}
        <div class="alert alert-danger mt-3">{{ error }}</div>
      {% endif %}
    </div>
  </div>
  <a href="{{ url_for('purchase_page') }}" class="btn btn-secondary mt-4">Back to Purchase Page</a>
{% endblock %}

<!--
'<div class="flex-shrink-0 me-4">' - flex-shrink-0: prevents element from shrinking when resized,
 me-4: margin-end, 4 is the size modifier
 mb-3: margin-bottom, 3 is the size modifier
 {% endif %}: closes an 'if' block
-->