{% extends "other_base.html" %}
{% block title %}Retrieve Reviews{% endblock %}
{% block content %}

<h1>Review List</h1>
    <div class="feedback-list">
        {% for review in review_list %}
        <div class="feedback-item">
            <p><strong>{{ review.name }}</strong> ({{ review.email }})</p>
            <p>Product: {{ review.product_name }}</p>
            <p>Review: {{ review.review }}</p>
            <p>Rating: {{ review.rating }}/5</p>
            <form action="{{ url_for('delete_review', id=review.id) }}" method="POST">
                <a href="{{ url_for('update_review', id=review.id) }}">Edit</a>
                <button type="submit">Delete</button>
            </form>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('home') }}">Back to Home</a>

{% endblock %}