{% extends "other_base.html" %}
{% block title %}Review Form{% endblock %}
{% block content %}

<h1>Submit Review</h1>
    <form method="POST">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <input type="text" name="product_name" placeholder="Product Name" required>
        <textarea name="review" placeholder="Your Review" rows="5" required></textarea>
        <input type="number" name="rating" placeholder="Rating (1-5)" min="1" max="5" required>
        <button type="submit">Submit</button>
    </form>
    <a class="btn btn-secondary" href="{{ url_for('home') }}">Back to Home</a>

{% endblock %}