{% extends "other_base.html" %}
{% block title %}Support Form{% endblock %}
{% block content %}

<h1>Update Support Request</h1>
    <form method="POST">
        <input type="text" name="name" value="{{ support.name }}" required>
        <input type="email" name="email" value="{{ support.email }}" required>
        <textarea name="issue" rows="5" required>{{ support.issue }}</textarea>
        <button type="submit">Update</button>
    </form>
    <a class="btn btn-secondary" href="/retrieveSupport">Back to Support List</a>

{% endblock %}