{% extends "other_base.html" %}
{% block title %}Support Form{% endblock %}
{% block content %}

<h1>Update Review</h1>
    <form method="POST">
        <input type="text" name="name" value="{{ review.name }}" required>
        <input type="email" name="email" value="{{ review.email }}" required>
        <input type="text" name="product_name" value="{{ review.product_name }}" required>
        <textarea name="review" rows="5" required>{{ review.review }}</textarea>
        <input type="number" name="rating" value="{{ review.rating }}" min="1" max="5" required>
        <button type="submit">Update</button>
    </form>
    <a class="btn btn-secondary" href="/retrieveReview">Back to Review List</a>

{% endblock %}